* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* I Downloaded and Declared the font "Helvetica-Light" via my project's
fonts folder. I chose this font since it's aesthetically pleasing and a
safe font to use that typically satisfied the basic rules of Graphic Design. */
@font-face {
    font-family: 'helveticalight';
    src: url('fonts/helvetica_light_regular-webfont.woff2') format('woff2'),
         url('fonts/helvetica_light_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




/* Header Element styling at the top of the webpage's main body tag
resembling the pop-up that notifies the user about the current promotion*/
header {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    /* font-family: 'helveticalight', Helvetica, Arial, sans-serif; */
}

.Bander-Domain { grid-area: 1 / 1 / 2 / 2; }
.Home { grid-area: 1 / 2 / 2 / 3; }
.Full-Stack { grid-area: 1 / 3 / 2 / 4; }
.Front-End { grid-area: 1 / 4 / 2 / 5; }
.GitHub { grid-area: 1 / 5 / 2 / 6; }
.Linkedin { grid-area: 1 / 6 / 2 / 7; }